/**
 * Copyright (c) 2018, Brandon D. Sara (https://bsara.gitlab.io/)
 * Licensed under the ISC license
 * (https://gitlab.com/bsara/web-font-unit-converter/blob/master/LICENSE)
 */
.form-layout {
  --linear-layout-item-gap: 40px;
  align-items:              center;
}


.fields {
  max-width:             20rem;
  grid-template-columns: 10fr 1fr;
}
