/**
 * Copyright (c) 2018, Brandon D. Sara (https://bsara.gitlab.io/)
 * Licensed under the ISC license
 * (https://gitlab.com/bsara/web-font-unit-converter/blob/master/LICENSE)
 */
@import './reset.css';
@import './theme.css';


*,
*::before,
*::after,
*::placeholder {
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html,
body
#root {
  width:    100vw;
  height:   100vh;
  overflow: hidden;
}

html {
  color:       var(--color-text-primary);
  font-family: var(--font-family-sans);
  font-size:   16px;
  line-height: 1;
}

body {
  font-size:   var(--font-size-500);
  line-height: var(--font-size-500-line-height);
}
