/**
 * Copyright (c) 2018, Brandon D. Sara (https://bsara.gitlab.io/)
 * Licensed under the ISC license
 * (https://gitlab.com/bsara/web-font-unit-converter/blob/master/LICENSE)
 */
@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Merriweather|Open+Sans|Slabo+27px');



:root {
  --font-family-sans:      'Open Sans', sans-serif;
  --font-family-serif:     'Merriweather', serif;
  --font-family-slab:      'Slabo 27px', serif;
  --font-family-monospace: 'Fira Mono', monospace;


  --font-size-500:             0.8750rem; /* NOTE: 14px when base is 16px */
  --font-size-500-line-height: 1.1875rem; /* NOTE: 19px when base is 16px */

  --font-size-600:             1.0625rem; /* NOTE: 17px when base is 16px */
  --font-size-600-line-height: 1.3750rem; /* NOTE: 22px when base is 16px */

  --font-size-700:             1.2500rem; /* NOTE: 20px when base is 16px */
  --font-size-700-line-height: 1.5625rem; /* NOTE: 25px when base is 16px */

  --font-size-800:             1.4375rem; /* NOTE: 23px when base is 16px */
  --font-size-800-line-height: 1.7500rem; /* NOTE: 28px when base is 16px */

  --font-size-900:             3.1250rem; /* NOTE: 60px when base is 16px */
  --font-size-900-line-height: 3.4375rem; /* NOTE: 65px when base is 16px */
}
