/**
 * Copyright (c) 2018, Brandon D. Sara (https://bsara.gitlab.io/)
 * Licensed under the ISC license
 * (https://gitlab.com/bsara/web-font-unit-converter/blob/master/LICENSE)
 */
.h1 {
  color:       var(--color-text-primary-dark);
  font-family: var(--font-family-slab);
  font-size:   var(--font-size-900);
  line-height: var(--font-size-900-line-height);
}
