/**
 * Copyright (c) 2018, Brandon D. Sara (https://bsara.gitlab.io/)
 * Licensed under the ISC license
 * (https://gitlab.com/bsara/web-font-unit-converter/blob/master/LICENSE)
 */
:root {
  --_app-gutter: 30px;
}


#app {
  width:  100vw;
  height: 100vh;
}


#appHeader,
#appContent,
#appFooter {
  padding-left:  var(--_app-gutter);
  padding-right: var(--_app-gutter);
}


#appHeader {
  padding: var(--_app-gutter);
  text-align:  center;
}

#appFooter {
  padding-bottom: calc(var(--_app-gutter) / 2);
  text-align:  center;
}


#appContent {
  flex-grow:     1;
  margin-top:    var(--_app-gutter);
  margin-bottom: var(--_app-gutter);
}
